<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="./css/global.css">
    <link rel="stylesheet" type="text/css" href="./css/listing.css">
    <link rel="stylesheet" type="text/css" href="./css/home.css">
</head>
<body>
    @Html.Partial("~/Views/Shared/Common/_PartailHeader.cshtml")


    <!-- Phan noi dung cua Controller -->

    @RenderBody()

    <!-- End Phan noi dung cua Controller -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/common.js"></script>
    <script>
        $(document).ready(function () {
            $(".trademark__list").owlCarousel({
                items: 1,
                dots: true,
                nav: false,
            });
            $(".trademark__post").owlCarousel({
                items: 1,
                dots: true,
                nav: false,
            });
            $('.visit-checkbox').click(function () {
                $('.visit-checkbox span').toggleClass('act');
            });
            $(".slider-banner").owlCarousel({
                loop: true,
                items: 1,
                dots: true,
                nav: false,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true
            });
        });
    </script>

</body>
</html>
