<footer class="footer">
    <div class="footer__tel fInter">
        <p class="tel-ttl"><span class="fRoboto">TỔNG ĐÀI</span>(Miễn phí gọi)</p>
        <div class="tel-ct">
            <p>Gọi mua, bảo hành và khiếu nại</p>
            <p><span class="fRoboto">1900 545 545</span>7:30 - 22:00</p>
        </div>
    </div>
    <div class="footer__contact">
        <ul class="footer-menu">
            <li>
                <p class="open-menufooter"><a href="#">HỖ TRỢ KHÁCH HÀNG</a></p>
                <ul class="submenu-footer fInter">
                    <li><a href="#">Chính sách đổi trả, bảo hành</a></li>
                    <li><a href="#">Biểu phí vận chuyển</a></li>
                    <li><a href="#">Hướng dẫn mua online</a></li>
                    <li><a href="#">Hướng dẫn đổi trả</a></li>
                    <li><a href="#">hướng dẫn chọn size</a></li>
                </ul>
            </li>
            <li>
                <p class="open-menufooter"><a href="#">VỀ BLUESPORT.COM</a></p>
                <ul class="submenu-footer fInter">
                    <li><a href="#">Giới thiệu công ty</a></li>
                    <li><a href="#">Hệ thống 4 cửa hàng</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Liên hệ, hợp tác</a></li>
                    <li><a href="#">Điểu khoản sử dụng</a></li>
                </ul>
            </li>
        </ul>
        <div class="footer-link">
            <p class="fInter">Kết nối với chúng tôi</p>
            <div>
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="copyright fInter">
        <a href="#"><i class="icon-bocongthuong"></i></a>
        <p>© 2021. Công ty cổ phần Thế Giới Di Động</p>
        <a href="#" class="copyright-link">Xem chính sách sử dụng</a>
    </div>
</footer>