@model List<fresher_mwg.Models.CategoryModel> 
 <!-- Header -->
<header class="header">
    <div class="header__address">
        <a href="#">Bluesport mở bán 4 siêu thị ở TP. Hồ Chí Minh</a>
    </div>
    <div class="header__main">
        <div class="header-menu">
            <i class="icon-menu"></i>
        </div>
        <a href="#" class="header-logo">
            <i class="icon-logo"></i>
        </a>
        <div class="header-search">
            <i class="icon-search"></i>
        </div>
        <a href="#" class="header-cart">
            <i class="icon-cart"></i>
            <span class="number fInter">1</span>
        </a>
    </div>

    <div class="main-menu">
        <nav class="gNavi">
            <ul class="list-menu">
                @foreach (var item in Model)
                {
                    <li class="arr-submenu">
                        <p class="open-sub"><a href="#">@item.CategoryName</a></p>
                        <ul class="submenu">
                            <li class="arr-submenu">
                                <p class="open-sub"><a href="#">GIÀY DÉP</a></p>
                                <ul class="sub-submenu fInter">
                                    <li><a href="#">Xem tất cả giày dép</a></li>
                                    <li><a href="#">Adidas</a></li>
                                    <li><a href="#">Puma</a></li>
                                    <li><a href="#">Bittis</a></li>
                                    <li><a href="#">Skechers</a></li>
                                    <li><a href="#">Sneakers</a></li>
                                    <li><a href="#">Giày bóng rổ</a></li>
                                    <li><a href="#">Giày chạy bộ</a></li>
                                    <li><a href="#">Giày bóng đá</a></li>
                                </ul>
                            </li>
                            <li class="arr-submenu">
                                <p class="open-sub"><a href="#">ÁO - QUẦN</a></p>
                                <ul class="sub-submenu fInter">
                                    <li><a href="#">test01</a></li>
                                    <li><a href="#">test02</a></li>
                                </ul>
                            </li>
                            <li class="arr-submenu">
                                <p class="open-sub"><a href="#">PHỤ KIỆN</a></p>
                                <ul class="sub-submenu fInter">
                                    <li><a href="#">test01</a></li>
                                    <li><a href="#">test02</a></li>
                                </ul>
                            </li>
                            <li class="arr-submenu">
                                <p class="open-sub"><a href="#">THỂ THAO</a></p>
                                <ul class="sub-submenu fInter">
                                    <li><a href="#">test01</a></li>
                                    <li><a href="#">test02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="all-product">XEM TẤT CẢ</a>
                            </li>
                        </ul>
                    </li>
                }
                @*<li class="arr-submenu">
                    <p class="open-sub"><a href="#">NỮ</a></p>
                    <ul class="submenu">
                        <li class="arr-submenu">
                            <p class="open-sub"><a href="#">GIÀY DÉP</a></p>
                            <ul class="sub-submenu fInter">
                                <li><a href="#">Xem tất cả giày dép</a></li>
                                <li><a href="#">Adidas</a></li>
                                <li><a href="#">Puma</a></li>
                                <li><a href="#">Bittis</a></li>
                                <li><a href="#">Skechers</a></li>
                                <li><a href="#">Sneakers</a></li>
                                <li><a href="#">Giày bóng rổ</a></li>
                                <li><a href="#">Giày chạy bộ</a></li>
                                <li><a href="#">Giày bóng đá</a></li>
                            </ul>
                        </li>
                        <li class="arr-submenu">
                            <p class="open-sub"><a href="#">ÁO - QUẦN</a></p>
                        </li>
                        <li class="arr-submenu">
                            <p class="open-sub"><a href="#">PHỤ KIỆN</a></p>
                        </li>
                        <li class="arr-submenu">
                            <p class="open-sub"><a href="#">THỂ THAO</a></p>
                        </li>
                        <li>
                            <a href="#" class="all-product">XEM TẤT CẢ</a>
                        </li>
                    </ul>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">TRẺ EM</a></p>
                    <ul class="submenu">
                        <li>
                            <p><a href="#">test01</a></p>
                        </li>
                        <li>
                            <p><a href="#">test02</a></p>
                        </li>
                        <li>
                            <p><a href="#">test03</a></p>
                        </li>
                    </ul>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">THƯƠNG HIỆU</a></p>
                    <ul class="submenu">
                        <li>
                            <p><a href="#">test01</a></p>
                        </li>
                        <li>
                            <p><a href="#">test02</a></p>
                        </li>
                        <li>
                            <p><a href="#">test03</a></p>
                        </li>
                    </ul>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">MÔN THỂ THAO</a></p>
                    <ul class="submenu">
                        <li>
                            <p><a href="#">test01</a></p>
                        </li>
                        <li>
                            <p><a href="#">test02</a></p>
                        </li>
                        <li>
                            <p><a href="#">test03</a></p>
                        </li>
                    </ul>
                </li>
                <li class="arr-submenu">
                    <p class="open-sub"><a href="#">PHỤ KIỆN THỂ THAO</a></p>
                    <ul class="submenu">
                        <li>
                            <p><a href="#">test01</a></p>
                        </li>
                        <li>
                            <p><a href="#">test02</a></p>
                        </li>
                        <li>
                            <p><a href="#">test03</a></p>
                        </li>
                    </ul>
                </li>*@
            </ul>
        </nav>
        <div class="close-menu"><i class="icon-closemenu"></i></div>
    </div>

    <div class="search-show fInter">
        <div class="search-form">
            <i class="icon-searchform"></i>
            <input type="text" name="txt-search" id="txt-search" placeholder="Tìm kiếm món đồ yêu thích">
            <span class="clear-icon">
                <i class="icon-clearsearch"></i>
            </span>
        </div>
        <div class="search-main">
            <div class="search-history">
                <p class="txt-opcity">Có phải bạn muốn tìm</p>
                <p><a href="#">Giày thể thao nam</a></p>
                <p><a href="#">Giày thể thao nữ</a></p>
                <p><a href="#">Giày thể thao trẻ em</a></p>
            </div>
            <div class="search-product">
                <p class="pdt-ttl">Sản phẩm gợi ý</p>
                <div class="pdt-list">
                    <a href="#" class="item">
                        <div class="pdt-img">
                            <img src="~/Contents/images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                        </div>
                        <div class="pdt-content">
                            <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                            <div class="price">
                                <strong class="price-current">6.964.000đ</strong>
                                <p class="price-old">8.205.000đ</p>
                                <p class="price-percent">20%</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="pdt-img">
                            <img src="~/Contents/images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                        </div>
                        <div class="pdt-content">
                            <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                            <div class="price">
                                <strong class="price-current">6.964.000đ</strong>
                                <p class="price-old">8.205.000đ</p>
                                <p class="price-percent">20%</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="pdt-img">
                            <img src="~/Contents/images/img_search.png" alt="ADIDAS Adizero Takumi Sen 7 Tokyo">
                        </div>
                        <div class="pdt-content">
                            <h3>ADIDAS Adizero Takumi Sen 7 Tokyo</h3>
                            <div class="price">
                                <strong class="price-current">6.964.000đ</strong>
                                <p class="price-old">8.205.000đ</p>
                                <p class="price-percent">20%</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="close-showsearch">
            <i class="icon-close-search"></i>
        </div>
    </div>
</header>
<!-- / Header -->
