@model List<fresher_mwg.Models.BannerModel>

<!-- Banner common -->
<div class="slider-banner owl-carousel">
    @foreach (var item in this.Model)
    {
        <img src="@item.pathImg" alt="@item.altImg">
    }
</div>
